h1{
    text-align: center;
    background-color: coral;
    color: white;
}

*{
    margin: 0;
    padding: 0;
}

img{
    width: 446px;
}

ul{
    background-color: rgb(54, 47, 47);
    display: inline-block;
    display: flex;
    padding: 20px;
}

li {
    padding-left: 100px;
}

a {
    color: white;
    text-decoration: none;
    font-size: 23px;
}

a:hover{
    color: coral;
}
h2 {
 text-align: center;
 background-color: coral;
 color: white;
 font-size: 80px;
 padding-top: 30px;
 margin: 30px;
}
 
 p {
     font-size: 20px;
     margin-left: 50px;
     margin-right: 50px;
     margin-top: 50px;
 }
 