h1{
    text-align: center;
    background-color: coral;
    color: white;
}

*{
    margin: 0;
    padding: 0;
}

img{
    width: 450px;
}

ul{
    background-color: rgb(54, 47, 47);
    display: inline-block;
    display: flex;
    padding: 20px;
}

li {
    padding-left: 100px;
}

a {
    color: white;
    text-decoration: none;
    font-size: 23px;
}

a:hover{
    color: coral;
}